.app {
  background-color: gainsboro;
}

.issue {
  border: 2px 25% solid gray;
  border-radius: 40px;
  padding: 20px;
  width: 40%;
  margin: 20px auto;
  background-color: beige;
}

.issue button {
  margin-right: 5px;
  border-radius: 25px;
}
